/* TAILWIND IMPORT */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

/* GLOBAL STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 24px;
	font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
	width: 0px;
}
/* Background Image */
.bg {
	background: url("./images/pattern-bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
@media screen and (min-width: 767px) {
	.bg {
		background: url("./images/pattern-bg.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
